* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    /* backdrop-filter: blur(10px); */
}

/* Para navegadores basados en WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
}

body {
    overflow: auto;
}

.nombre {
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
    border-bottom-right-radius: 25px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link:hover {
    border-bottom: solid 4px #ffcc53;
}

.dropdown-menu {
    background: #ffcc53;

}

.dropdown-item {
    color: #000000;
    border-bottom: solid 0.5px #ffffff;
    font-weight: bold;
}

.dropdown-item:hover {
    background: #0B7F46;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
}

.Bienvenida {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 70%;
    display: block;
    border-bottom: solid 3px #fff;
    color: #ffffff;
    font-size: 15px;
}


main .formulario {
    margin: auto;
    width: 70%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom: 50px;

}

.calcular {
    background: #0b7f46;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.calcular:hover {

    cursor: pointer;
    background: #07f884;


}

.container-recomendaciones {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background: #ffffff;

}

.cabeza {
    background: #0b7f46;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}



@keyframes resultados {
    0% {
        opacity: 0;
        transform: translatex(700px);
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }

}

#Resultado {
    animation: resultados 1.5s;
}

@media screen and (max-width: 500px) {


    footer {
        position: absolute;
        margin: 0;
        width: 100%;
        bottom: 800px;
    }


    .A_cupos {
        align-items: center;
        background: #0b7f46;
        font-weight: bold;
        float: inline-start;
    }

    main .container #nombre.d-flex.Bienvenida {
        top: 80px;
        left: 10px;
    }

    body div.container-fluid {
        max-width: 500px;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        overflow: auto;
    }
}

@media screen and (max-width: 800px) {
    footer {
        position: absolute;
        bottom: -950px;
        margin: 0;
        padding: 0;
    }

    .A_cupos {
        align-items: center;
        background: #0b7f46;
        font-weight: bold;
        float: inline-start;
    }
}


@media screen and (max-width: 900px) {
    main .container .d-flex img {
        position: fixed;
        top: 15px;
        left: 2px;
        width: 30%;
    }

    .A_cupos {
        align-items: center;
        background: #0b7f46;
        font-weight: bold;
        float: inline-start;
    }

    .input-group-text {
        background-color: #121A1C;
        color: #E5E5E5;
        padding: 10px;
        /* border-left: 1px solid #ffffff; */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }



    footer {
        position: absolute;
        bottom: -400px;
        width: 100%;
        padding: 0;
    }



    .Bienvenida {
        position: absolute;
        top: 130px;
        left: -100px;
        width: 90%;
    }

    .Bienvenida h1 {
        font-size: small;
        font-weight: bold;
        display: block;
    }


}

@media screen and (max-width: 1000px) {
    main .container .d-flex img {
        position: fixed;
        top: 15px;
        left: 8px;
        width: 13%;
    }



    .Bienvenida {
        position: absolute;
        top: 80px;
        left: 140px;
        width: 90%;
    }

    .Bienvenida h1 {
        font-size: small;
        font-weight: bold;
        display: block;
    }


    footer {
        position: absolute;
        bottom: -500px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}